<div class="bostami-header-area mb-30 z-index-5">
    <div class="container">
        <div class="bostami-header-wrap main-style-2">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-4 col-4 d-flex align-items-center">
                    <div class="bostami-header-logo">
                        <a class="site-logo" routerLink="">
                            <img src="assets/img/profile/Chayma.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-6 col-sm-8 col-8">
                    <div class="header-right-flex">
                        <div class="bostami-main-menu-wrap ">
                            <nav class="bastami-main-menu main_menu_2">
                                <ul>
                                    <li routerLinkActive="active">
                                        <a routerLink="">
                                            <span>
                                                <i class="fa-light fa-house"></i>
                                            </span>
                                            home
                                        </a>
                                    </li>
                                    <li routerLinkActive="active">
                                        <a routerLink="about">
                                            <span>
                                                <i class="fa-light fa-address-card"></i>
                                            </span>
                                            about
                                        </a>
                                    </li>
                                    <li routerLinkActive="active">
                                        <a routerLink="resume">
                                            <span>
                                                <i class="fa-light fa-file-user"></i>
                                            </span>
                                            Resume
                                        </a>
                                    </li>
                                    <li routerLinkActive="active">
                                        <a routerLink="works">
                                            <span>
                                                <i class="fa-light fa-briefcase"></i>
                                            </span>
                                            Works
                                        </a>
                                    </li>
                                    <li routerLinkActive="active">
                                        <a routerLink="contact">
                                            <span>
                                                <i class="fa-light fa-address-book"></i>
                                            </span>
                                            contact
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="bostami-header-menu-btn text-right ml-30">
                            <div class="dark-btn dark-btn-2">
                                <i class="fa-light fa-moon dark-btn-icon"></i>
                                <i class="fa-light fa-sun dark-btn-icon"></i>
                            </div>
                            <div class="menu-btn-wrap d-lg-none">
                                <div class="menu-btn menu-btn-2 toggle_menu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu-wrap">
            <div class="mobile-menu mobile_menu_2">
            </div>
        </div>
    </div>
</div>