<div class="bostami-page-area z-index-3">
    <div class="container">
        <div class="bostami-page-wrap pt-60 pl-80 pr-80">
            <div class="page-tilte-2-wrap">
                <div class="row">
                    <div class="col-12">
                        <div class="bostami-page-title-wrap mb-40">
                            <h2 class="page-title">contact</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bostami-contact-2-wrap">
                <div class="row">
                    <div class="col-xl-4 col-lg-12">
                        <div class="bostami-contact-2-item-wrap mb-60">
                            <div class="row">
                                <div class="col-xl-12 col-lg-6">
                                    <div class="bostami-contact-item bg-prink mb-30">
                                        <div class="icon">
                                            <img src="assets/img/icon/phone-call.png" alt="">
                                        </div>
                                        <div class="text">
                                            <h5 class="title">phone :</h5>
                                            <span>+216 208 385 07</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-6">
                                    <div class="bostami-contact-item bg-catkrill mb-30">
                                        <div class="icon">
                                            <img src="assets/img/icon/email-icon.png" alt="">
                                        </div>
                                        <div class="text">
                                            <h5 class="title">email :</h5>
                                            <span>chaymafarhat16&#64;
                                                gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-6">
                                    <div class="bostami-contact-item bg-prink mb-30">
                                        <div class="icon">
                                            <img src="assets/img/icon/map-icon.png" alt="">
                                        </div>
                                        <div class="text">
                                            <h5 class="title">address :</h5>
                                            <span>Jemmel 5020, Monastir, Tunisia</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8  col-lg-12">
                        <div class="contact-area bg-light-white-2 mb-60">
                            <h5 class="contact-title">Get in touch </h5>
                            <h5 class="contact-title-b">Let's work together! </h5>
                            <form class="contact-form" action="https://formspree.io/f/xzbnevnr" method="post">
                                <div class="form-input-item mb-60">
                                    <label class="input-lebel name">name *</label>
                                    <input name="name" class="input-box name" type="text" required>
                                </div>
                                <div class="form-input-item mb-60">
                                    <label class="input-lebel gmail">Email *</label>
                                    <input name="email" class="input-box gmail" type="Email" required>
                                </div>
                                <div class="form-input-item mb-40">
                                    <label class="input-lebel message">Message *</label>
                                    <textarea name="message" class="input-box message" cols="30" rows="10"
                                        required></textarea>
                                </div>
                                <div class="form-btn-wrap">
                                    <button type="submit" value="Send" class="form-btn">submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>