<div class="bostami-page-area z-index-3">
    <div class="container">
        <div class="bostami-page-wrap pt-60 pl-80 pr-80">
            <div class="page-tilte-2-wrap">
                <div class="row">
                    <div class="col-12">
                        <div class="bostami-page-title-wrap mb-40">
                            <h2 class="page-title">Resume</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bostami-resume-2">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="bostami-section-title-wrap mb-20">
                            <h4 class="section-title"><i class="fa-light fa-school"></i>
                                Education</h4>
                        </div>
                        <div class="bostami-card-wrap mb-50">
                            <div class="bostami-card-item bg-prink mb-20">
                                <span class="card-subtitle">2021 - 2024</span>
                                <h6 class="card-title">Bachelor's Degree in Development of Information Systems</h6>
                                <p class="card-text"><i>ISET Sousse (Higher Institute of Technological Studies)</i></p>
                                <p class="card-text">Sousse, Tunisia</p>
                            </div>
                            <div class="bostami-card-item bg-catkrill mb-20">
                                <span class="card-subtitle">2018 - 2021 </span>
                                <h6 class="card-title">High School Diploma
                                    Specialization in Experimental Science</h6>
                                <p class="card-text"><i>Ibn Khouldoun High School </i></p>
                                <p class="card-text">Jemmal, Monastir, Tunisia </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="bostami-section-title-wrap mb-20">
                            <h4 class="section-title"><i class="fa-light fa-briefcase"></i>experience</h4>
                        </div>
                        <div class="bostami-card-wrap mb-50">
                            <div class="bostami-card-item bg-prink mb-20">
                                <span class="card-subtitle">Feb 2024 - May 2024</span>
                                <h6 class="card-title">End of Studies Internship</h6>
                                <p class="card-text"><i>Simesoft Technologies</i></p>
                                <p class="card-text">Sousse, Tunisia</p>
                            </div>
                            <div class="bostami-card-item bg-catkrill  mb-20">
                                <span class="card-subtitle">Jan 2023 - Feb 2023</span>
                                <h6 class="card-title">Perfectionnement Internship</h6>
                                <p class="card-text"><i>Dräxlmaier Group</i></p>
                                <p class="card-text">Sousse, Tunisia</p>
                            </div>
                            <div class="bostami-card-item bg-prink mb-20">
                                <span class="card-subtitle">Jan 2022 - Feb 2022</span>
                                <h6 class="card-title">Initiation Internship</h6>
                                <p class="card-text"><i>Tunisie Telecom</i></p>
                                <p class="card-text">Monastir, Tunisia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrapper border-redius-20 bg-light-white-2 mt-20  pt-40 pb-30 pl-30 pr-30">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bostami-section-title-wrap mb-20">
                            <h4 class="section-title">Working Skills</h4>
                        </div>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar-item mb-30">
                                <div class="title-wrap">
                                    <h5 class="title">Web Development</h5>
                                    <span class="count">95%</span>
                                </div>
                                <div class="progress-bar-wrap">
                                    <div class="progress-line progress-bg-1" style="width: 95%;"></div>
                                </div>
                            </div>
                            <div class="skill-bar-item mb-30">
                                <div class="title-wrap">
                                    <h5 class="title">Mobile App Development</h5>
                                    <span class="count">90%</span>
                                </div>
                                <div class="progress-bar-wrap">
                                    <div class="progress-line progress-bg-2" style="width: 90%;"></div>
                                </div>
                            </div>
                            <div class="skill-bar-item mb-30">
                                <div class="title-wrap">
                                    <h5 class="title">UI/UX Design</h5>
                                    <span class="count">80%</span>
                                </div>
                                <div class="progress-bar-wrap">
                                    <div class="progress-line progress-bg-3" style="width: 80%;"></div>
                                </div>
                            </div>
                            <div class="skill-bar-item">
                                <div class="title-wrap">
                                    <h5 class="title">Problem-Solving</h5>
                                    <span class="count">85%</span>
                                </div>
                                <div class="progress-bar-wrap">
                                    <div class="progress-line progress-bg-4" style="width: 85%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 pt-30">
                        <div class="bostami-section-title-wrap mb-20">
                            <h4 class="section-title">Programming Languages </h4>
                        </div>
                        <div class="knowledeges-item-wrap">
                            <span class="gk-item">C</span>
                            <span class="gk-item">C#</span>
                            <span class="gk-item">Java</span>
                            <span class="gk-item">Python</span>
                            <span class="gk-item">TypeScript</span>
                            <span class="gk-item">JavaScript</span>
                            <span class="gk-item">ZShell</span>
                            <span class="gk-item">Dart</span>
                            <span class="gk-item">PHP</span>
                            <span class="gk-item">HTML5</span>
                            <span class="gk-item">CSS3</span>
                            <span class="gk-item">PL/SQL </span>
                        </div>
                    </div>
                    <div class="col-xl-12 pt-30">
                        <div class="bostami-section-title-wrap mb-20">
                            <h4 class="section-title">Frameworks & Technologies </h4>
                        </div>
                        <div class="knowledeges-item-wrap">
                            <span class="gk-item">Angular</span>
                            <span class="gk-item">Symfony</span>
                            <span class="gk-item">Spring Boot </span>
                            <span class="gk-item">Visual Studio (.NET Core) </span>
                            <span class="gk-item">Eclipse (Java) </span>
                            <span class="gk-item">NetBeans</span>
                        </div>
                    </div>
                    <div class="col-xl-12 pt-30">
                        <div class="bostami-section-title-wrap mb-20">
                            <h4 class="section-title">Mobile Development </h4>
                        </div>
                        <div class="knowledeges-item-wrap">
                            <span class="gk-item">Android Studio </span>
                            <span class="gk-item">Flutter</span>
                            <span class="gk-item">Ionic </span>
                        </div>
                    </div>
                    <div class="col-xl-12 pt-30">
                        <div class="bostami-section-title-wrap mb-20">
                            <h4 class="section-title">Big Data & Machine Learning </h4>
                        </div>
                        <div class="knowledeges-item-wrap">
                            <span class="gk-item">Hadoop</span>
                            <span class="gk-item">MongoDB </span>
                            <span class="gk-item">Redis </span>
                            <span class="gk-item">Google Colab </span>
                        </div>
                    </div>
                    <div class="col-xl-12 pt-30">
                        <div class="bostami-section-title-wrap mb-20">
                            <h4 class="section-title">Business Intelligence </h4>
                        </div>
                        <div class="knowledeges-item-wrap">
                            <span class="gk-item">Power BI </span>
                        </div>
                    </div>
                    <div class="col-xl-12 pt-30">
                        <div class="bostami-section-title-wrap mb-20">
                            <h4 class="section-title">Service-Oriented Architecture (SOA) </h4>
                        </div>
                        <div class="knowledeges-item-wrap">
                            <span class="gk-item">SOAP</span>
                            <span class="gk-item">REST </span>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>