<div class="container z-index-3">
    <div class="row">
        <div class="col-12">
            <div class="bostami-parsonal-info-area bostami-parsonal-info-2-area">
                <div class="bostami-parsonal-info-wrap">
                    <div class="bostami-parsonal-info-img">
                        <img src="assets/img/profile/profile_img.png" alt="">
                    </div>
                    <h4 class="bostami-parsonal-info-name">
                        <a href="#">Chayma Farhat</a>
                    </h4>
                    <span class="bostami-parsonal-info-bio mb-15">Full Stack Developer</span>
                    <ul class="bostami-parsonal-info-social-link mb-30">
                        <li>
                            <a href="https://www.facebook.com/chayma.farhat.19" class="facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ChaYmaFarhat1" class="twitter">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/chaymafarhat16" class="instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/chayma-farhat-9125a21a2" class="linkedin">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="bostami-parsonal-info-btn">
                        <a class="btn-2 circle" href="/assets/documents/Farhat_Chayma_ResumeCV.pdf" download="cv.pdf">
                            <span class="icon">
                                <i class="fa-regular fa-download"></i>
                            </span>
                            download cv
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>