<div class="bostami-page-area z-index-3">
    <div class="container">
        <div class="bostami-page-wrap pt-60 pl-80 pr-80">
            <div class="page-tilte-2-wrap">
                <div class="row">
                    <div class="col-12">
                        <div class="bostami-page-title-wrap mb-40">
                            <h2 class="page-title">My Works</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bostami-work-2 mb-30">
                <div class="row">
                    <div class="col-12">
                        <ul class="fillter-btn-wrap buttonGroup isotop-menu-wrapper mb-30">
                            <li class="fillter-btn is-checked " data-filter="*">All</li>
                            <li class="fillter-btn" data-filter=".education">Education</li>
                            <li class="fillter-btn" data-filter=".commerce">E-commerce</li>
                            <li class="fillter-btn" data-filter=".entertainment">Entertainment</li>
                            <li class="fillter-btn" data-filter=".estate">Real Estate</li>
                            <li class="fillter-btn" data-filter=".other">Other</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <div id="fillter-item-active" class="fillter-item-wrap">
                            <div class="grid-sizer"></div>
                            <div class="isotop-item entertainment">
                                <div class="fillter-item bg-prink">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-1">
                                        <img src="assets/img/work/projects/pr1.png" alt="">
                                    </a>
                                    <span class="item-subtitle">Angular-powered Anime Website</span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-1">Anime Loop</a>
                                    </h6>
                                </div>
                            </div>
                            <div class=" isotop-item estate">
                                <div class="fillter-item bg-catkrill ">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-5">
                                        <img src="assets/img/work/projects/pr5.png" alt="">
                                    </a>
                                    <span class="item-subtitle">Symfony-powered RealEstate
                                        Website </span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal"
                                            data-bs-target="#portfolio-5">ChaymaEstate</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="isotop-item entertainment">
                                <div class="fillter-item bg-catkrill">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-2">
                                        <img src="assets/img/work/projects/pr2.png" alt="">
                                    </a>
                                    <span class="item-subtitle">Angular-powered Anime Website </span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-2">Anime
                                            Detector</a>
                                    </h6>
                                </div>
                            </div>
                            <div class=" isotop-item entertainment">
                                <div class="fillter-item bg-prink">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-3">
                                        <img src="assets/img/work/projects/pr3.png" alt="">
                                    </a>
                                    <span class="item-subtitle">Angular-powered Anime Photos Website </span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-3">Anime
                                            Library</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="isotop-item commerce">
                                <div class="fillter-item bg-prink">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-6">
                                        <img src="assets/img/work/projects/pr6.png" alt="">
                                    </a>
                                    <span class="item-subtitle">Symfony-powered E-commerce
                                        Website </span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-6">Zaynouta
                                            LTD</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="isotop-item entertainment">
                                <div class="fillter-item bg-catkrill">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-4">
                                        <img src="assets/img/work/projects/pr4.png" alt="">
                                    </a>
                                    <span class="item-subtitle">Angular-powered Anime Quotes Website </span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-4">Chan Once
                                            Said</a>
                                    </h6>
                                </div>
                            </div>
                            <div class=" isotop-item education">
                                <div class="fillter-item bg-catkrill ">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-7">
                                        <img src="assets/img/work/projects/pr7.png" alt="">
                                    </a>
                                    <span class="item-subtitle">Symfony-powered Quiz Website </span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-7">LimitLess</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="isotop-item other">
                                <div class="fillter-item bg-catkrill">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-8">
                                        <img src="assets/img/work/projects/pr8.png" alt="">
                                    </a>
                                    <span class="item-subtitle">PowerApps-powered</span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-8">Visitors
                                            Management</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="isotop-item education">
                                <div class="fillter-item bg-prink">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-9">
                                        <img src="assets/img/work/projects/pr9.png" alt="">
                                    </a>
                                    <span class="item-subtitle">ASP.NET MVC-powered</span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-9">PFE Hub</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="isotop-item other">
                                <div class="fillter-item bg-prink">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-10">
                                        <img src="assets/img/work/projects/pr10.png" alt="">
                                    </a>
                                    <span class="item-subtitle">Java-powered</span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-10">Horoscope</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="isotop-item entertainment">
                                <div class="fillter-item bg-catkrill">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-11">
                                        <img src="assets/img/work/projects/pr11.png" alt="">
                                    </a>
                                    <span class="item-subtitle">Java-powered</span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-11">Anime
                                            Infinity</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="isotop-item other">
                                <div class="fillter-item bg-catkrill">
                                    <a class="img" href="#" data-bs-toggle="modal" data-bs-target="#portfolio-12">
                                        <img src="assets/img/work/projects/pr12.png" alt="">
                                    </a>
                                    <span class="item-subtitle">Flutter-powered</span>
                                    <h6 class="item-title">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-12">First Parc</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>
<app-models></app-models>